<!DOCTYPE html>
<html>
	<head>
		<title>jQuery UI and CoffeeScript Test Center</title>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= stylesheet_link_tag    "application/application", media: "all", "data-turbolinks-track" => true %>
	</head>
	
	<body>
		<input type="text" name="date" id="date">
		<div id="dialog">
			I am inside a dialog!!!! LOL
		</div>
	</body>
</html>
