<!--Provide page information-->
<% provide(:title, "Report an incident") %>
<% provide(:pagetitle, "Please fill in all information below, and try and include as much information as you can.") %>

<!--Declare division for form-->
<div id="form">
  <!--Form Helper for new tickets-->
  <%= form_for(@ticket) do |f| %>
      <!--Declare unordered list-->
      <ul>
        <!--List item-->
        <li>
          <!--Render text box and tooltip for title of ticket-->
          <%= f.text_field :title, required: true, placeholder: "Summarize in 70 chars or less...", maxlength: 70 %>
          <span class="tooltip">Make this short and to the point</span>
        </li>
        <!--List item-->
        <li>
          <!--Render textbox and tooltip for ticket body-->
          <%= f.text_area :desc, required: true, placeholder: "What happened?", maxlength: 6000%>
          <span class="tooltip">Put as much detail into your description as possible.
            Tag users by using an @tag (tag user jondoe by writing @jondoe)</span>
        </li>
        <!--List item-->
        <li>
          <!--Render submit button and tooltip with confirmationmesage warning about sending false reports-->
          <%= f.submit "Send Report", class: "submit", confirm: "Never send false reports, as they can get your account locked by an administrator or your account permanently deleted. Are you sure you wish to send this report?" %>
          <span class="tooltip"> <b>NEVER send false reports.</b> You run the risk of your account being locked indefinitely </span>
        </li>
      </ul>
  <% end %>
</div>
