<% provide :title, 'Tickets' %>
<% provide :pagetitle, 'Help Tickets' %>

<div id="my-ticketlist">
  My Tickets:
  <ol class="tickets">
    <% @my_tickets.each do |ticket| %>
        <li>
          <%= link_to ticket.title, "/hk/tickets/#{ticket.id}" %>
        </li>
    <% end %>
  </ol>
</div>

<div id="ticketlist">
  Open Tickets:
  <ol class="tickets">
    <% @open_tickets.each do |ticket| %>
        <li>
          <%= link_to ticket.title, "/hk/tickets/#{ticket.id}" %>
        </li>
    <% end %>
  </ol>
</div>