<!--Provide title of the page-->
<% provide :title, 'Tickets' %>
<!--Provide the description of the page-->
<% provide :pagetitle, 'Help Tickets' %>

<!--Declare a division for the list of tickets-->
<div id="my-ticketlist">
  My Tickets:
  <!--Declare an ordered list for tickets assigned to the current user-->
  <ol class="tickets">
    <!--For each ticket-->
    <% @my_tickets.each do |ticket| %>
        <!--Declare a list item-->
        <li>
          <!--Output a link to the ticket page-->
          <%= link_to ticket.title, "/hk/tickets/#{ticket.id}" %>
        </li>
    <% end %>
  </ol>
</div>

<!--Declare a division to show the rest of the open tickets-->
<div id="ticketlist">
  Open Tickets:
  <!--Declare an ordered list for the tickets-->
  <ol class="tickets">
    <!--For each open ticket-->
    <% @open_tickets.each do |ticket| %>
        <!--Declare a list item-->
        <li>
          <!--Output a link to the ticket-->
          <%= link_to ticket.title, "/hk/tickets/#{ticket.id}" %>
        </li>
    <% end %>
  </ol>
</div>