<% provide :title, 'All Users' %>
<% provide :pagetitle, 'All Users' %>

<div id="userlist">
  <ul class="users">
    <% @users.each do |user| %>
      <li>
        <%= link_to user.name, "/hk/users/#{user.name}" %>
      </li>
    <% end %>
  </ul>
</div>
