<header>
	<nav>
		<%= link_to "Home", 	root_path %>
		<%= link_to "Users", 	users_list_path %>
		<%= link_to "Tickets", 	tickets_list_path %>
		<%= link_to "Logout", 	logout_path, id: "logout", method: "delete" %>
	</nav>
</header>
